<app-banner src="assets/imagens/banner-login.png" alt="Banner Login Screen"></app-banner>

<section class="login-component">
    <mat-card class="login">
        <div class="image-container">
            <figure>
                <img src="assets/imagens/simbolo-bussola.png" alt="">
            </figure>
        </div>
        <div class="form-container">
            <mat-card-header>
                <mat-card-title>Login</mat-card-title>
                <form [formGroup]="loginForm">
                    <mat-card-content>
                        <mat-form-field appearance="outline">
                            <mat-label>E-mail</mat-label>
                            <input formControlName="email" matInput type="email" placeholder="Insira seu E-mail">
                            <mat-error *ngIf="loginForm.get('email')?.errors">E-mail Obrigatório!</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Senha</mat-label>
                            <input formControlName="senha" matInput type="password" placeholder="Insira sua Senha">
                            <mat-error *ngIf="loginForm.get('senha')?.errors?.['required']">A senha é Obrigatória!</mat-error>
                        </mat-form-field>
                    </mat-card-content>
                    <mat-card-actions>
                        <button [disabled]="loginForm.invalid" (click)="login()" mat-flat-button color="primary">Acessar minha Conta</button>
                        <p>Ainda não possui conta? <a href=""><strong>Clique aqui para se Cadastrar</strong></a></p>
                    </mat-card-actions>
                </form>
            </mat-card-header>
        </div>
    </mat-card>
</section>
